/* 保证块/段落之间的空白隔行 */
.typo p,
.typo pre,
.typo ul,
.typo ol,
.typo dl,
.typo form,
.typo hr,
.typo table,
.typo-p,
.typo-pre,
.typo-ul,
.typo-ol,
.typo-dl,
.typo-form,
.typo-hr,
.typo-table {
  margin-bottom: 1em;
}
/* 标题应该更贴紧内容，并与其他块区分，margin 值要相应做优化 */
.typo h1,
.typo h2,
.typo h3,
.typo h4,
.typo h5,
.typo h6,
.typo-h1,
.typo-h2,
.typo-h3,
.typo-h4,
.typo-h5,
.typo-h6 {
  margin-bottom: 0.4em;
  line-height: 1.5;
}
.typo h1,
.typo-h1 {
  font-size: 1.8em;
}
.typo h2,
.typo-h2 {
  font-size: 1.6em;
}
.typo h3,
.typo-h3 {
  font-size: 1.4em;
}
.typo h4,
.typo-h4 {
  font-size: 1.2em;
}
.typo h5,
.typo h6,
.typo-h5,
.typo-h6 {
  font-size: 1em;
}
/* 在文章中，应该还原 ul 和 ol 的样式 */
.typo ul,
.typo-ul {
  margin-left: 1.3em;
  list-style: disc;
}
.typo ol,
.typo-ol {
  list-style: decimal;
  margin-left: 1.9em;
}
.typo li ul,
.typo li ol,
.typo-ul ul,
.typo-ul ol,
.typo-ol ul,
.typo-ol ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2em;
}
.typo li ul,
.typo-ul ul,
.typo-ol ul {
  list-style: circle;
}
/* 同 ul/ol，在文章中应用 table 基本格式 */
.typo table th,
.typo table td,
.typo-table th,
.typo-table td {
  border: 1px solid #ddd;
  padding: 5px 10px;
}
.typo table th,
.typo-table th {
  background: #fbfbfb;
}
.typo table thead th,
.typo-table thead th {
  background: #f1f1f1;
}
/* TODO: 供着重号使用 */
.typo-em,
.typo em {
  font-weight: 700;
}
/* TODO: 供首字下沉使用 */
